<div ng-controller="LoginController" ng-show = "checkInputs">
	<h1 style="text-align: center">Login</h1>
	<p class="headings">E-mail</p>
	<input type="text" ng-model="input3">
	<p ng-model="error3" class="errorMsg">{{error3}}</p>
	<p class="headings">Password</p>
	<input type="text" ng-model="input4" style="-webkit-text-security: square;">
	<p ng-model="error4" class="errorMsg">{{error4}}</p>
	<p><button ng-click="checkInputs()">Login</button>
	</p>
	<a href="./#/track">Next_Page</a>
	<a href="./#/sign">SignUp</a>
</div>